@import "./src/vars";

.placement {
  position: absolute;
  top: 4.8em;
  right: -6em;
  transform: translate(-50%, -50%);

  .heart {
    width: 100px;
    height: 100px;
    cursor: pointer;

    &.is-active {
      svg {
        fill: red;
      }
    }
  }
}

.load_more_small {
  font-size: $small_size;
}

.load_more_medium {
  font-size: $medium_size;
}