@import "vars.scss";

h1, h5 {
  margin: 0;
  font-family: $page_heading_font_family;
}

span {
  font-family: $main_font_family;
  font-weight: 200;
}

body {
  margin: 0 auto;
}

.details_label_medium {
  font-size: $standard_size;
  font-weight: 400;
}

.detail_label_small {
  font-size: $medium_size;
}